html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

a,
a:focus,
a:hover {
  color: #fff; }

html,
body {
  height: 100%;
  background-color: #333; }

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  padding-top: 50px;
  padding-bottom: 20px; }

#map-canvas {
  width: 800px;
  height: 600px;
  margin: 25px auto; }

.jumbotron {
  background-color: #555;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  display: none; }

#panel {
  background: #eee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

.spacer-right {
  margin-right: 10px; }

label[for=car], label[for=footing], label[for=bike] {
  width: 25px;
  height: 25px;
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

label[for=car] {
  background-image: url("../img/icone/car.png"); }

label[for=footing] {
  background-image: url("../img/icone/footing.png"); }

label[for=bike] {
  background-image: url("../img/icone/bike.png"); }

#map-canvas:-webkit-full-screen {
  width: 100%;
  height: 100%; }

#map-canvas:-moz-full-screen {
  width: 100%;
  height: 100%; }

a[href^="http://maps.google.com/maps"], .adp-placemark, .adp-summary, .gmnoprint a, .gmnoprint span, .adp-legal, .adp-marker, .adp-warnbox, .pac-container:after {
  display: none !important; }
